@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="text-center">
        <img src="~/img/CinemaPost_1024.jpg" alt="Cinema Poster" class="img-fluid" style="max-width: 100%; height: auto;" />
    </div>
</div>
